footer {
    background-color: #353535;
    color:white;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    > div {
        min-width: 340px;
    }
    .strong {
        font-weight: 500;
    }

    i {
        margin-right: 10px;
    }

}